<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="CompozitClient.Properties.Settings.INBASEConnectionString"
        connectionString="Data Source=SQL2008\MYMSSQL;Initial Catalog=INBASE;Persist Security Info=True;User ID=sa;Password=12"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
